/*******************************************************
* Body
*******************************************************/

body {
	background: #fff;
}

.logos {
	display: block;
	margin: 0 auto;
	width: 229px;
}

a, a:hover {
	color: #ff6900;
}

/*******************************************************
* Footer
*******************************************************/

.foot {
	text-align: center;
	font-size: 12px;
}

.copyright {
	border-top: 1px solid #d7d7d7;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 50px;
}

/*******************************************************
* Header
*******************************************************/

.phone {
	text-align: right;
}

.phone p {
	margin-top: 10px;
}

.head-logo img {
	margin-bottom: 5px;
	margin-top: 5px;
}

a.onewebcentric {
	width: 146px;
	height: 30px;
	background: url(../img/oneweb-logo.png);
	display: inline-block;
	position: relative;
	top: 10px;
}

/*******************************************************
* Form
*******************************************************/

.hero-form {
	width:100%;  
	border: 2px solid #ff6900; 
	border-radius: 5px;
}

.hero-form form {
	display: block;
	margin: 0 auto;
	width: 90%;
	padding: 15px 0 15px 0;
}

form blockquote {
	font-size: 14px;
}

form blockquote img.pull-left {
	margin-right: 5px;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], 
.uneditable-input {
	border: 1px solid rgb(0, 163, 255);
}

/*******************************************************
* Warning Button & Progress Bar (Changes color)
*******************************************************/

.btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #ff6900;
	background-image: -moz-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fa9f1e),to(#ff6900));
	background-image: -webkit-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: -o-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: linear-gradient(to bottom,#fa9f1e,#ff6900);
	background-repeat: repeat-x;
	border-color: #ff6900 #ff6900 #ad6704;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa9f1e',endColorstr='#fff89406',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #fff;
	background-color: #ff6900;
}

.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
	background-color: #ff6900;
}
/*******************************************************
* Icons
*******************************************************/

.icon-phone {
	width: 16px;
	height: 16px;
	background: url(../img/phone.png);
}

/*******************************************************
* Media Queries
*******************************************************/

@media (max-width: 767px) {

	/* Header */
	.head-logo img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	
	.phone {
		text-align: center;
	}

	/* Footer */ 


}