/*******************************************************
* By Jonathon McDonald
*
* All styling not handled by bootstrap is added into 
* here.  I try to follow bootstrap naming conventions
* as best I can.  Warning, they change in an upcoming 
* version release to get rid of all camelCase and switch
* to the sexier camel-case.  
*******************************************************/

/*******************************************************
* Body
*******************************************************/

body {
	background: #fff;
	color: #000;
}

.logos {
	display: block;
}

.logos table, .logos table tr, .logos table tr td {
	border: 0;
}

.logos table {
	width: 100%;
}

.logos table tr td img {
	display: block;
	margin: 0 auto;
}

a, a:hover {
	color: #ff6900;
}

/*******************************************************
* Footer
*******************************************************/

.foot {
	text-align: center;
	font-size: 12px;
}

.copyright {
	border-top: 1px solid #d7d7d7;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 50px;
}

footer {
	margin-top: 150px;
	font-size: 12px;
}

a.onewebcentric {
	width: 146px;
	height: 30px;
	background: url(../img/oneweb-logo.png);
	display: inline-block;
	position: relative;
	top: 10px;
}

/*******************************************************
* Header
*******************************************************/

.phone {
	text-align: right;
}

.phone p {
	margin-top: 10px;
}

.head-logo img {
	margin-bottom: 5px;
	margin-top: 5px;
}

h1 {
	font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

/*******************************************************
* Form
*******************************************************/

#continue {
	margin: 0 auto;
	display: block;
}

.hero-form {
	width:100%;  
	border: 2px solid #ff6900; 
	border-radius: 5px;
}

.hero-form form {
	display: block;
	margin: 0 auto;
	width: 90%;
	padding: 15px 0 15px 0;
}

legend {
	font-size: 20px;
	line-height: 30px;
}

form blockquote {
	font-size: 14px;
}

form blockquote img.pull-left {
	margin-right: 5px;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], 
.uneditable-input {
	border: 1px solid rgb(0, 163, 255);
}

.control-group.error .checkbox, .control-group.error .radio, 
.control-group.error input, .control-group.error select, 
.control-group.error textarea {
	color: rgb(255, 5, 0);
}

.control-group.error input, .control-group.error select, 
.control-group.error textarea {
	border-color: rgb(255, 5, 0);
}

.control-group.error .control-label, .control-group.error .help-block, 
.control-group.error .help-inline {
	color: rgb(255, 5, 0);
}

.form-actions {
	background-color: #f7f7f7;
}

.control-group {
	margin-bottom: 0;
}

legend + .control-group {
	margin-top: 10px;
}

.form-actions {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*******************************************************
* Warning Button & Progress Bar (Changes color)
*******************************************************/

.btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #ff6900;
	background-image: -moz-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fa9f1e),to(#ff6900));
	background-image: -webkit-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: -o-linear-gradient(top,#fa9f1e,#ff6900);
	background-image: linear-gradient(to bottom,#fa9f1e,#ff6900);
	background-repeat: repeat-x;
	border-color: #ff6900 #ff6900 #ad6704;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa9f1e',endColorstr='#fff89406',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #fff;
	background-color: #ff6900;
}

.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
	background-color: #ff6900;
}

.btn-img {
	margin-top: 5px;
}

/*******************************************************
* Icons
*******************************************************/

.icon-phone {
	width: 16px;
	height: 16px;
	background: url(../img/phone.png);
}

/*******************************************************
* Helpers
*******************************************************/

.pull-center {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.text-center {
	width: 100%;
	display: block;
	text-align: center;
}

/*******************************************************
* Media Queries
*******************************************************/

@media (max-width: 767px) {

	/* Header */
	.head-logo img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	
	.phone {
		text-align: center;
	}

	/* Footer */ 


}